In [42]:
import csv

input_fitle = 'iris/iris.data'
out_file = 'iris.csv'

with open(input_fitle, 'r') as data_file:
    delimiter = ','

    reader = csv.reader(data_file, delimiter=delimiter)

    with open(out_file, 'w') as csv_file:
        writer = csv.writer(csv_file)
        for row in reader:
            writer.writerow(row)

print(f"Arquivo .data foi convertido com sucesso para {out_file}")

Arquivo .data foi convertido com sucesso para iris.csv

In [43]:
import pandas
df = pandas.read_csv('iris.csv')

In [44]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [45]:
df.shape

(150, 5)